.todo-item:focus {
  outline: none;
  border-color: darkgray;
}

.todo-item {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 140px;
  border-width: 1px;
  border-color: lightgray;
  padding: 8px;
  display: block;
  padding-left: 22px;
}

.completed-todo-item {
  text-decoration: line-through;
}

.todo-item-container {
  display: flex;
  align-items: center;
  position: relative;
}

.checkbox {
  position: absolute;
  left: 0;
}

.font-style {
  font-family: "Trebuchet MS", sans-serif;
}

.white-sun {
  color: white;
}

.black-moon {
  color: #2f3537;
}

.hover-style:hover {
  color: #a0a0a0;
}

body {
  margin: 50px;
}

.container {
  display: flex;
  gap: 20px;
}

/* Todo list container styles */
.todo-list-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.weekly-todo-list {
  display: flex;
  overflow-x: auto; /* This is optional for horizontal scrolling if needed */
}

.day-todo-list {
  flex: 0 0 auto; /* Ensure day-todo-list elements don't grow and shrink */
}
